apiVersion: mobile.k8s.io/v1alpha1
kind: MobileClient
metadata:
    annotations:
        icon: font-icon icon-cordova
        aerogear.org/service-instance-name: {{ service_instance_name.stdout }}
    name: {{ appName }}-cordova
    namespace: {{ namespace }}
spec:
    apiKey: {{ service_instance_name | to_uuid}}
    appIdentifier: {{ appIdentifier }}
    clientType: cordova
    name: {{ appName }}